
#menuform{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  width: 150px;
  height: 150px;
  padding: 20px;
  text-align: center;
  border: none;
  transition-duration: 400ms;
}
.matriculeInside{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  border-radius: 10px;
  font-size: 25px;
  border: solid 2px white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
#signuplink{
  text-align: end;
}

.paiment{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 10vh auto;
  gap: 20px;
}
#links{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
#signin{
  margin:15vh auto;
}
.matricule{
  display: flex;
  flex-direction: column;
  background-color: #0d0d0e;
  border-radius: 10px;
  padding: 5px;
  grid-column: span 3;
  
}
.matricule>p{
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-radius:5px ;
  padding: 20px;
  margin: 2vh auto;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.582);
}
#menuform:hover{
  cursor:pointer;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.856);
  transition-duration: 400ms;
}
.choices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  backdrop-filter: blur(3px);
  margin-top: 5vh;
  background-color: white;
}
#link:hover{
  color: rgb(52, 146, 228);
  
  transition-duration: 0.3s;
}
body{
  background-color: white;
  
}

.tbl-container{
  margin:3vh auto;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  padding: 0px;
}

nav{
  display:flex;
  flex-direction: row;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 500px){
  .choices{
      display: flex ;
      flex-direction: column;
      width: 250px;
      margin-top: 30px;
      height: 400px;
  }
  #menuform{
    width: 100px;
    height: 100px;
  }
  button img{
    width: 40px;
  }
  footer{
    height: 2.5rem;
  }
}
#logoheader{
  display: flex;
  flex-direction: row;
}
#adminStation{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10vh auto;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}
.dash{
  display: grid;
  grid-template-columns: 25% auto;
  gap: 20px;

}
#drop{
  visibility: hidden;
}

@media(max-width:650px){
  .Dashboard{
      display: none;
      
  }
  .dash{
      display: flex;
      flex-direction: column;
  }
  #drop{
      visibility: visible;
  }
  
}

footer{
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  text-align: center;
}
.back{
  background-color: aquamarine;
  width: 70px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 70px;
  margin: 30px;
}
.matrLeft,.matrRight{
  border-radius: 10px;
  height: 90%;
}
#tariflist{
  flex-direction: row;

}
#plaques{
  background-color: rgb(0, 0, 0);
  color: white;
  width: 140px;
  border-radius: 10px;
  padding: 3px;
  margin: 1vh auto;
  
}
/* #destinationX{
  display: flex;
  flex-direction: column;
  gap: 5px;
} */
#imageLoc{
  height: 70px;
  text-align: center;
  padding: 9px;
}
#locimg:hover{
  width: 50px;
  transition-duration: 400ms;
}
#locimg{
  transition-duration: 400ms;
}